  <!-- Site footer -->


<link rel="stylesheet" href="/styles/footer.css" type="text/css"></link>
  <footer class="site-footer">
    <h6>About</h6>
    <p class="text-justify">Quizo is a site where you can create quizzes and share them with the world. An AAR productions, Ali AlShaikhly, Andrew Delmar, Rishav Baral</p>
    <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved</p>
  </footer>

