<header class="site-header">
  <div class="header-container">

    <div class="header-logo">
      <a href="http://localhost:8080"><h3>Quizo</h3></a>
    </div>

    <div class="header-buttons">
      <ul class="header-links">
        <div>
          <a class="button">Login</a>
        </div>
        <div>
          <a class="button">Sign up</a>
        </div>
      </ul>
    </div>

  </div>
</header>
