<header class="site-header">
  <div class="header-container">

    <div class="header-logo">
      <a href="/"><h1 id="QUIZO">Quizo</h1></a>
    </div>

    <div class="header-buttons">
      <ul class="header-links">

        <div>
          <a href="/users/1">
            <img src="/styles/pics/download.png">
            <span>Alice</span>
          <button class="button">Logout</button>
          </a>
        </div>

      </ul>
    </div>

  </div>
</header>
