<header class="site-header">
  <div class="header-container">

    <div class="header-logo">
      <h1>Quizo</h1>
    </div>

    <div class="header-buttons">
      <ul class="header-links">

        <div>
          <img src="styles/pics/download.png">
          <span>Alice</span>
          <button class="button">Logout</button>
        </div>

      </ul>
    </div>

  </div>
</header>
