<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/body.css" type="text/css" />
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="scripts/client.js"></script>
    <script src="scripts/createQuiz.js"></script>
  </head>


  <body class="body-box">
    <div class="body-wrap">
      <!-- Top nav bar (fixed) -->
      <header class="site-header">
        <div class="header-container">

          <div class="header-logo">
            <h3>Quizo</h3>
          </div>

          <div class="header-buttons">
            <ul class="header-links">
              <div>
                <a class="button">Login</a>
              </div>
              <div>
                <a class="button">Sign up</a>
              </div>
            </ul>
          </div>

        </div>
      </header>

      <!-- Page-specific content -->
      <div class ="body-inner-new-quiz">
        <div class ="body-inner-new-quiz-title">
          <p>New quiz</p>
        </div>
        <div class="new-quiz-button">
          <button id="create-quiz-button">Create New Quiz</button>
        </div>
      </div>

      <div class ="body-inner-new-quiz">
        <div class ="body-inner-new-quiz-title">
          <p>Create your quiz</p>
        </div>
      </div>
      <div class ="body-inner-quizzes">
        <div class ="body-inner-quizzes-title">
          <form id="quiz-form" action="/quizzes" method="POST">
            <label for="title">Quiz Title</label>
            <input type="text" name="title">
            <label for="subject">Subject</label>
            <input type="text" name="subject">
            <label for="question_text">Question</label>
            <input type="text" name="question_text">
            <div>
              <label for="answer_text1">Answer 1</label>
              <input type="text" name="answer_text1">
              <input type="radio" name="answer1" id="answer1" value="answer1">
            </div>
            <div>
              <label for="answer_text2">Answer 2</label>
              <input type="text" name="answer_text2">
              <input type="radio" name="answer1" id="answer2" value="answer2">
            </div>
            <div>
              <label for="answer_text3">Answer 3</label>
              <input type="text" name="answer_text3">
              <input type="radio" name="answer1" id="answer3" value="answer3">
            </div>
            <div>
              <label for="answer_text4">Answer 4</label>
              <input type="text" name="answer_text4">
              <input type="radio" name="true" id="answer4" value="answer4">
            </div>
            <label for="question_text">Question2</label>
            <input type="text" name="question2_text">
            <div>
              <label for="answer1">Answer 1</label>
              <input type="text" name="answer2_text1">
              <input type="radio" name="answer2" id="answer1" value="answer1">
            </div>
            <div>
              <label for="answer2">Answer 2</label>
              <input type="text" name="answer2_text2">
              <input type="radio" name="answer2" id="answer2" value="answer2">
            </div>
            <div>
              <label for="answer3">Answer 3</label>
              <input type="text" name="answer2_text3">
              <input type="radio" name="answer2" id="answer3" value="answer3">
            </div>
            <div>
              <label for="answer4">Answer 4</label>
              <input type="text" name="answer2_text4">
              <input type="radio" name="answer2" id="answer4" value="answer4">
            </div>
            <label for="question_text">Question3</label>
            <input type="text" name="question2_text">
            <div>
              <label for="answer1">Answer 1</label>
              <input type="text" name="answer3_text1">
              <input type="radio" name="answer3" id="answer1" value="answer1">
            </div>
            <div>
              <label for="answer2">Answer 2</label>
              <input type="text" name="answer3_text2">
              <input type="radio" name="answer3" id="answer2" value="answer2">
            </div>
            <div>
              <label for="answer3">Answer 3</label>
              <input type="text" name="answer3_text3">
              <input type="radio" name="answer3" id="answer3" value="answer3">
            </div>
            <div>
              <label for="answer4">Answer 4</label>
              <input type="text" name="answer3_text4">
              <input type="radio" name="answer3" id="answer4" value="answer4">
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
      <div id="quiz-container">
        <section class="quizzes"></section>
    </div>

      <div class ="body-inner-quizzes">
        <div class ="body-inner-quizzes-title">
          <!-- <p>User's Quizzes</p> -->
        </div>
        <section id="quiz-container"></section>
      </div>

    </div>
  </body>

  <footer>
    <div class="footer-signature">
      <p>An AAR creation</p>
    </div>
  </footer>
