<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/body.css" type="text/css" />
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="scripts/client.js"></script>
    <script src="scripts/createQuiz.js"></script>
  </head>


  <body class="body-box">
      <!-- Top nav bar (fixed) -->
      <header>
        <%- include('./partials/header') %>
      </header>
    <div class="body-wrap">
      <!-- Page-specific content -->
      <div class ="body-inner-new-quiz">
        <div class ="body-inner-new-quiz-title">
          <p></p> <!-- this empty p tag hold the entire site together dont touch!-->
        </div>
        <div class="new-quiz-button">
          <button class="button" id="create-quiz-button">Create New Quiz</button>
        </div>
      </div>

      <div class ="body-inner-new-quiz">
        <div class ="body-inner-new-quiz-title">
        </div>
      </div>
      <section id="body-inner-quizzes">
        <div class ="body-inner-quizzes-title">
          <form id="quiz-form" action="/quizzes" method="POST">
            <!-- <div> -->
              <label for="public">Make quiz public</label>
              <select name="public-private">
                <option value="true">Public</option>
                <option value="false">Private</option>
              </select>
              <label for="title">Quiz Title</label>
              <input required="required" type="text" name="title">
              <label for="subject">Subject</label>
              <input required="required" type="text" name="subject">
              <label for="question_text">Question</label>
              <input required="required" type="text" name="question_text">
            <!-- </div> -->
            <div>
              <label for="answer_text1">Answer 1</label>
              <input required="required" type="text" name="answer_text1">
              <!-- <input type="radio" name="answer1" id="answer1" value="answer1"> -->
            </div>
            <div>
              <label for="answer_text2">Answer 2</label>
              <input required="required" type="text" name="answer_text2">
              <!-- <input type="radio" name="answer1" id="answer2" value="answer2"> -->
            </div>
            <div>
              <label for="answer_text3">Answer 3</label>
              <input required="required" type="text" name="answer_text3">
              <!-- <input type="radio" name="answer1" id="answer3" value="answer3"> -->
            </div>
            <div>
              <label for="answer_text4">Answer 4</label>
              <input required="required" type="text" name="answer_text4">
              <!-- <input type="radio" name="true" id="answer4" value="answer4"> -->
              <p>Set the right answer to</p>
              <select name="rightAnswer-Question1">
                <option value="answer1_text1">answer1</option>
                <option value="answer1_text2">answer2</option>
                <option value="answer1_text3">answer3</option>
                <option value="answer1_text4">answer4</option>
              </select>
            </div>
            <label for="question_text">Question2</label>
            <input required="required" type="text" name="question2_text">
            <div>
              <label for="answer1">Answer 1</label>
              <input required="required" type="text" name="answer2_text1">
              <!-- <input type="radio" name="answer2" id="answer1" value="answer1"> -->
            </div>
            <div>
              <label for="answer2">Answer 2</label>
              <input required="required" type="text" name="answer2_text2">
              <!-- <input type="radio" name="answer2" id="answer2" value="answer2"> -->
            </div>
            <div>
              <label for="answer3">Answer 3</label>
              <input required="required" type="text" name="answer2_text3">
              <!-- <input type="radio" name="answer2" id="answer3" value="answer3"> -->
            </div>
            <div>
              <label for="answer4">Answer 4</label>
              <input required="required" type="text" name="answer2_text4">
              <!-- <input type="radio" name="answer2" id="answer4" value="answer4"> -->
              <p>Set the right answer to</p>
              <select name="rightAnswer-Question2">
                <option value="answer2_text1">answer1</option>
                <option value="answer2_text2">answer2</option>
                <option value="answer2_text3">answer3</option>
                <option value="answer2_text4">answer4</option>
              </select>
            </div>
            <label for="question_text">Question3</label>
            <input required="required" type="text" name="question3_text">
            <div>
              <label for="answer1">Answer 1</label>
              <input required="required" type="text" name="answer3_text1">
              <!-- <input type="radio" name="answer3" id="answer1" value="answer1"> -->
            </div>
            <div>
              <label for="answer2">Answer 2</label>
              <input required="required" type="text" name="answer3_text2">
              <!-- <input type="radio" name="answer3" id="answer2" value="answer2"> -->
            </div>
            <div>
              <label for="answer3">Answer 3</label>
              <input required="required" type="text" name="answer3_text3">
              <!-- <input type="radio" name="answer3" id="answer3" value="answer3"> -->
            </div>
            <div>
              <label for="answer4">Answer 4</label>
              <input required="required" type="text" name="answer3_text4">
              <!-- <input type="radio" name="answer3" id="answer4" value="answer4"> -->
              <p>Set the right answer to</p>
              <select name="rightAnswer-Question3">
                <option value="answer3_text1">answer1</option>
                <option value="answer3_text2">answer2</option>
                <option value="answer3_text3">answer3</option>
                <option value="answer3_text4">answer4</option>
              </select>
            </div>
              <button class="button" type="submit">Submit</button>
          </form>
        </div>
      </section>

      <!-- <div class ="body-inner-quizzes">
        <div class ="body-inner-quizzes-title">
        </div>
        <section id="quiz-container"></section>
      </div> -->

    </div>
    <section id="quiz-container">
    </section>
  </body>

  <footer>
    <%- include('./partials/footer') %>
  </footer>
