<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body>
    <%- include('./partials/header') %>

    <div class ="body-inner-new-quiz">
      <div class ="body-inner-new-quiz-title">
      <p>Create Quiz</p>
      </div>
      <div class="quiz-questions">
      <div class="user-quiz">
      <p>Q1</p>
      </div>
      <div class ="user-quiz">
      <p>Q2</p>
      </div>
      <div class ="user-quiz">
      <p>Q3</p>
      </div>
      <div class ="user-quiz">
      <p>Q4</p>
      </div>
      <div class ="user-quiz">
      <p>Q5</p>
      </div>
      </div>
    </div>
  </div>
<script src="../../public/scripts/createQuiz.js"

  <body>


