/* header */
.site-header {
  position: relative;
  /* background-color: yellow; */
  height: 50px;
}

.header-container {
  /* background-color: orange; */
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.header-logo {
  padding-left: 20px;
  /* background-color: black; */
  width: 40%;
}

.header-buttons {
  /* background-color: black; */
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.header-links {
 display: inline-flex;
}

.header-links div {
  margin: 10px;
}

.header-links .button {
  color: white;
}

.header-links span {
  margin: 0px 20px 0px 5px;
}

img {
  border-radius: 50%;
  height: 25px;
}
