
.site-header {
  position: relative;

  height: 50px;
  background-color: #006fd1;
  cursor: pointer;
}

.header-container {

  display: flex;
  justify-content: space-evenly;
  color: white;
}

.header-logo {
  padding-left: 20px;
  cursor: pointer;
  width: 40%;
}

.header-buttons {

  display: flex;
  justify-content: flex-end;
  width: 40%;
  cursor: pointer;
}

.header-links {
 display: inline-flex;
}

.header-links div {
  margin: 10px;
}

.header-links .button {
  color: white;
}

.header-links span {
  margin: 0px 20px 0px 5px;
}

img {
  border-radius: 50%;
  height: 25px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
.button {
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#QUIZO {
  color: white;
}
